
.pagination {
    margin-top: 12px;
    margin-bottom: 70px;
    margin-left: 215px;
}
.pagination__title {
    font-size: 14px; 
    display: inline-block;
    color: #656464; 
    margin-right: 20px;
}
.pagination__list {
    display: inline-block;    
}

.pagination__link {
    text-decoration: none;
    color: rgba(34, 31, 31, 0.8);
    font-size: 14px;
    font-weight: bold;
}



.pagination__item {
    display: inline-block;
    margin-right: 10px;
}

.pagination__active {
    width: 25px;
    height: 25px; 
    background: #27273e;
    border-radius: 3px;
    color: #ec1e79;
    transform: scaleX(1.0012);
    text-align: center;
    line-height: 25px;
    margin-right: 5px;
    
}

.pagination__link:hover {
    color: #ec1e79;
}

.pagination__link_img {
    display: block;
    width: 6px;
    height: 10px;
    overflow: hidden;
    background: url(../../img/about/vector_right.png) no-repeat;
}

.pagination__link_img:hover {
    background: url(../../img/about/vector_right_red.png) no-repeat;    
}